{% extends "layout.html" %}

{% block body%}
<nav class="nav">
    <div class="nav__row">
        <div class="nav__logo"><a class="nav__link-menu" href="/">Finan<span style="color: green;">$</span>e</a></div>
        <div class="nav__possibilities">
            <a class="nav__possibility-item" href="/quote">Quote</a>
            <a class="nav__possibility-item" href="/buy">Buy</a>
            <a class="nav__possibility-item" href="/sell">Sell</a>
            <a class="nav__possibility-item" href="#">History</a>
        </div>
        <div class="nav__options">
            <h1>Hi, {{userdata[0][1]}}!</h1>
            <a href="/logout">Log out</a>
        </div>
    </div>
</nav>

<div class="apology">
    <h1>Ooops... Something went <span style="color: red;">WRONG</span>. <br> {{message}}</h1>
</div>
{% endblock%}