{% extends "layout.html" %}

{% block body%}
<nav class="nav">
    <div class="nav__row">
        <div class="nav__logo">
            <a class="nav__link-menu" href="/">Finan<span style="color: green">$</span>e</a>
        </div>
        <div class="nav__possibilities">
            <a class="nav__possibility-item" href="/quote">Quote</a>
            <a class="nav__possibility-item" href="/buy">Buy</a>
            <a class="nav__possibility-item" href="/sell">Sell</a>
            <a class="nav__possibility-item" href="#">History</a>
        </div>
        <div class="nav__options">
            <h1>Hi, {{userdata[0][1]}}!</h1>
            <a href="/logout">Log out</a>
        </div>
    </div>
</nav>

<h2>{{shares}}</h2>

<div class="sell">
    <form action="/sell" class="sell__form" method="post">
        <select class="select__shares form-select" name="shares">
            <option selected>Please, choose your shares</option>
            {% for x in shares%}
            <option value="{{ x }}">{{x.split("%")[1]}},{{x.split("!")[1]}},{{x.split(" ")[3]}},{{x.split("?")[1]}},${{x.split("/")[1]}}</option>
            {% endfor %}
            <!-- shares cycle -->
        </select>
        <input class="form-control sell__count" type="number" name="sellCount">
        <button type="submit" class="btn btn-primary btn-sell">Sell</button>
    </form>
</div>
{%endblock%}